// Сначала абстракты (переменные и миксины)
@import 'abstract/variables';
@import 'abstract/mixins';

// Потом базовые стили
@import 'base/reset';
@import 'base/typography';

// Затем компоненты
@import 'components/buttons';
@import 'components/header';

// И layout
@import 'layout/header';
@import 'layout/sections';

// Контейнер
.container {
  max-width: $container-width;
  margin: auto;
  padding: 0 15px;
  overflow: hidden;
}

// Основной контент
main {
  padding-top: 150px;
  text-align: center;
}