.portfolio {
    position: relative;
    &::after {
        content: "Примеры моих работ";
        position: absolute;
        top: -33px;
        left: 10px;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 75px;
        opacity: 0.06;
        color: #007eff;
    }
    &::before {
        content: "Примеры моих работ";
        position: absolute;
        top: -30px;
        left: 12px;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 75px;
        opacity: 0.06;
        color: #ff00dd;
    }
}