.price {
    position: relative;
    
    &::after {
        content: "Цены на услуги";
        position: absolute;
        top: -33px;
        left: 10px;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 75px;
        opacity: 0.06;
        color: #007eff;
    }
    &::before {
        content: "Цены на услуги";
        position: absolute;
        top: -30px;
        left: 12px;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 75px;
        opacity: 0.06;
        color: #ff00dd;
    }
    &__navigation {
        margin-bottom: 50px;
        & a {
            border: 0;
            margin: 0;
            color: black;
            text-align: center;
            padding: 20px 60px;
            max-width: 250px;
            width: 100%;
            background: $grey;
            cursor: pointer;
        }
        & li:not(:last-child) {
            margin-right: 0;
        }
        &__list {
            & .active {
                color: white;
                    background: linear-gradient(90deg, #e23834 3.26%, #7a27f1 98.07%);
            }
        }
    }
    &__slide {
        height: 100%;
        padding: 24px 32px;
        background: $more-black;
    }
    &__item {
        background-image: url(./assests/img/price-mark.svg);
        background-size: 15px;
        background-repeat: no-repeat;
        padding-left: 20px;
        margin-bottom: 6px;
        background-position: 0px 3px;
    }
}
.tabs__item {
    display: none;
    &.active{display: contents;}
}
.active > a {
    color: white;
    background: linear-gradient(90deg, #e23834 3.26%, #7a27f1 98.07%) !important;
    // color: $white !important;
    // border: none !important;
    // padding: 12px 17px !important;
    // &:hover {
    //     border: 2px solid #dc2743 !important;
    //     background: transparent !important;
    //     color: $more-black !important;
    // }
}